{% extends 'layout.html' %}
{% block title %} Upload {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-3 offset-1">
            <img src="/static/logo_front.png" class="img-fluid" alt="Responsive image" width="200">
        </div>
        <div class="col-6 align-top">
            <form action="" method = "POST">
              <div class="form-group-lg">
                <label for="UserEmail">Email address</label>
                <input type="email" class="form-control" name="UserEmail" id="UserEmail" aria-describedby="emailHelp" value={{user_email}}>
              </div>
                <div class="form-group-lg">
                    <label for="UserToken">Security Token</label>
                    <input type="password" class="form-control" name="UserToken" id="UserToken" aria-describedby="passwordHelp" placeholder="Enter 5-digit token">
                </div>
                <p>
                    {% if err == 0 %}
                        <small id="tokenHelp" class="form-text text-muted">Please enter the security token which you received via email.</small>
                    {% elif err == 1 %}
                        <small id="tokenHelpErrorEmail" class="form-text text-danger">The email address {{user_email}} was not recognised. Please try again with the correct email address and security token</small>
                    {% else%}
                        <small id="tokenHelpErrorToken" class="form-text text-danger">The security token did not match to the email address {{user_email}}. Please try again with the correct security token</small>
                    {% endif %}
                </p>
              <button type="submit" class="btn btn-danger">Login</button>
            </form>
        </div>
  </div>
</div>
{% endblock %}

