{% extends 'layout.html' %}
{% block title %} Terms {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
            <p class="fs-4">Terms and Conditions</p>
            <div class="d-grid gap-1">
                <div class="p">
                    <ul>
                        <li>Open Heart is a repository for raw MR data from cardiac MRI.
                            The aim of Open Heart is to share MR data for scientific purposes.</li>
                    </ul>
                </div>
                <div class="p">
                    <ul>
                        <li>All the data uploaded to Open Heart will be made publicly available under Creative
                            Commons Public Domain Dedication (CC0). The data is provided as is, the Open Heart team
                            does not take any responsibility or provide any warranty for the content or the
                            uploading/downloading process. </li>
                    </ul>
                </div>
                <div class="p">
                    <ul>
                        <li>You are responsible to ensure that all the data you upload is fully anonymised and that
                            you have the right to publish this data under the CC0 licence.</li>
                    </ul>
                </div>
                <div class="p">
                    <ul>
                        <li>During the upload process image reconstruction will be carried out to verify the quality
                            and completeness of the uploaded data. The resulting images will also be part of the
                            database.</li>
                    </ul>
                </div>
                <div class="p">
                    <ul>
                        <li>The data of Open Heart shall not be used for any diagnostic purposes.</li>
                    </ul>
                </div>
                <div class="p">
                    <ul>
                        <li>We reserve the right to remove any data from the database without any further notice.
                        We reserve the right to change these terms and conditions without any further notice.</li>
                    </ul>
                </div>

            </div>
        </div>
  </div>
</div>
{% endblock %}