{% extends 'layout.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-3 offset-1">
            <img src="/static/logo_front.png" class="img-fluid" alt="Responsive image" width="200">
        </div>
        <div class="col-6 align-top mt-5">
            <p class="lead">
              Welcome to Open Heart, a raw data repository for cardiac MRI!
            </p>
            <p class="lead">
              Here you can upload new data to the repository. If you want to explore and download the repository please go here.
            </p>
            <p class="lead">
              If this is your first time at Open Heart, please watch our <a href={{url_for("home.tutorial_video")}} target="blank" class="link-danger">tutorial video</a>.
            </p>
            <p class="lead">
              You can upload raw data in <a href="https://ismrmrd.readthedocs.io/en/latest/" target="blank" class="link-danger">ismrmrd</a> format.
                <a href={{url_for("home.ismrmrd_tools")}} target="blank" class="link-danger">Here</a> you find additional help and tools to transform your
                raw data to ismrmrd format. You can also download a docker instance of our QC software.
            </p>
            <p class="lead">
              By clicking the start button below, you agree to the <a href={{url_for("home.terms_conds")}} target="blank" class="link-danger">terms and conditions</a> of the Open Heart repository.
            </p>
            <form action={{url_for("auth.register")}} method = "GET">
              <button type="submit" class="btn btn-danger">Start</button>
            </form>
        </div>
  </div>
</div>
{% endblock %}