numpy
scipy
imageio
matplotlib
setuptools
flask==2.2.0
unicorn
docker
flask-mail
flask-sqlalchemy
sqlalchemy-mutable
flask-login
pydicom
ismrmrd
pytest
coverage
scikit-image
git+https://github.com/ckolbPTB/pyxnat.git@share_primary
