<div class="container">
    <div class="row mt-5 " title="reload" id={{reload}}>
    </div>
    {% for sub in subjects %}
    {% if loop.index0 % 4 == 0 %}
        <div class="row">
    {% endif %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{sub}}</h5>
                        {% if not reload %}
                            <div id=carousel_check_{{sub}} class="carousel carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    {% for j in range(0, files_for_subject[sub]|length) %}
                                        {% if j == 0 %}
                                            <button type="button" data-bs-target=#carousel_check_{{sub}} data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        {% else %}
                                            <button type="button" data-bs-target=#carousel_check_{{sub}} data-bs-slide-to={{j}} aria-label="Slide "{{j}}></button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {%for f in files_for_subject[sub]%}
                                        {% set file_id = f.id %}
                                        {% set scan = f.name_orig %}
                                        {% if loop.index0 == 0 %}
                                            <div class="carousel-item active" data-bs-interval="10000">
                                        {% else %}
                                            <div class="carousel-item" data-bs-interval="10000">
                                        {% endif %}
                                                <img src="/static/Uid{{f.user_id}}/animations/animation_file_{{file_id}}.gif" class="d-block w-100" alt={{scan}}>
                                                <div class="carousel-caption d-none d-md-block">
                                                    <p style="color:white;font-size:8px;background-color:black;">{{scan}}</p>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target=#carousel_check_{{sub}} data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target=#carousel_check_{{sub}} data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        {% else %}
                            {%if reload%}
                                <div class="row mt-4">
                                   <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-danger" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center text-wrap text-break">
                                        Reconstructing...
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mt-4">
                                    <img src=/static/error.png style="width: 8rem;">
                                </div>
                                <div class="row mt-2">
                                    <div class="text-center text-wrap text-break" style="width: 8rem; font-size: 8px">
                                        An error occured during image reconstruction. For more information, please contact the admin team.
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <p class="card-text">
                        {%if reload == 0%}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name=check_{{sub}} value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Submit
                                </label>
                            </div>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
    {% if loop.index0 % 4 == 3 %}
        </div>
    {% endif %}
    {% endfor %}
</div>


{%if reload == 0%}
<div class="row align-items-center mt-5">
    <div class="col-5 offset-2">
        <button type="submit" name="submit" class="btn btn-danger">Submit</button>
    </div>
    <div class="col-2">
        <button type="submit" name="cancel" class="btn btn-light">Cancel</button>
    </div>
</div>
{% endif %}
