{% extends 'layout.html' %}
{% block title %} Check {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
              <ul class="progressbar">
                  <li class="done"> Select </li>
                  <li class="done"> Upload </li>
                  <li class="done"> Check </li>
              </ul>
        </div>
    </div>
</div>
<div class="container">
    <form method="post" action={{url_for("upload.submit")}} enctype="multipart/form-data">
        <p>
        </p>
    </form>
    <script>
    var counter = 0;
    var recon_done = 0;
    var reload = window.setInterval(function () {
        $.get('/upload/check_images', function(data) {
            document.querySelector('p').innerHTML = data;
        });

        if (counter > 0) {
            var elem = document.querySelector('[title="reload"]')
            if (elem.id === "False") {
                recon_done = 1;
            }
        }

        counter++;
        if ((counter === 100) || (recon_done === 1)){
            clearInterval(reload);
        }
    }, 2000);
    </script>
</div>
{% endblock %}