<div class="container">
    <div class="row mt-5 " title="reload" id={{reload}}>
    </div>
    {% for f in files %}
    {% set subject = f.subject %}
    {% if loop.index0 % 4 == 0 %}
        <div class="row">
    {% endif %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{subject}}</h5>
                        {% if not reload %}
                            <div id=carousel_check{{f.id}} class="carousel carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target=#carousel_check{{f.id}} data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                </div>
                                <div class="carousel-inner">
                                    {% set scan = f.xnat_scan_id %}
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="/static/animations/animation_file_{{f.id}}.gif" class="d-block w-100" alt={{scan}}>
                                            <div class="carousel-caption d-none d-md-block">
                                                <p style="color:white;font-size:8px;background-color:black;">{{scan}}</p>
                                            </div>
                                        </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target=#carousel_check{{f.id}} data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target=#carousel_check{{f.id}} data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% else %}
                            {%if reload%}
                                <div class="row mt-4">
                                   <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-danger" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center text-wrap text-break">
                                        Reconstructing...
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mt-4">
                                    <img src=/static/error.png style="width: 8rem;">
                                </div>
                                <div class="row mt-2">
                                    <div class="text-center text-wrap text-break" style="width: 8rem; font-size: 8px">
                                        An error occured during image reconstruction. For more information, please contact the admin team.
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <p class="card-text">
                        {%if reload == 0%}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name=check{{f.id}} value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Submit
                                </label>
                            </div>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
    {% if loop.index0 % 4 == 3 %}
        </div>
    {% endif %}
    {% endfor %}
</div>


{%if reload == 0%}
<div class="row align-items-center mt-5">
    <div class="col-5 offset-2">
        <button type="submit" name="submit" class="btn btn-danger">Submit</button>
    </div>
    <div class="col-2">
        <button type="submit" name="cancel" class="btn btn-light">Cancel</button>
    </div>
</div>
{% endif %}
