{% extends 'layout.html' %}
{% block title %} Select {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
              <ul class="progressbar">
                  <li class="done"> Select </li>
                  <li> Upload </li>
                  <li> Check </li>
              </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form method="post" action={{url_for("upload.uploader")}} enctype="multipart/form-data">
    <div class="row align-items-center mt-5">
        <div class="col-6 offset-2">

              <div class="form-group-lg">
                <h4>Select zip file</h4>
                <input type="file" name="file" class="form-control" id="customFile"/>
              
                <small id="customFileHelp" class="form-text text-muted">Select single zip file which contains raw data files in ismrmrd raw data format. The raw data files for each subject should be in a separate folder.</small>
                <a href="#" class="link-danger" title="Example of file structure" data-toggle="popover_zip">Click here to see an example of the file structure.</a> 
            </div>

            

        </div>
    </div>
        <div class="row align-items-center mt-5">
         <div class="col-3 offset-2">
             <button type="submit" class="btn btn-danger">Select</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}