{% extends 'layout.html' %}
{% block title %} Upload {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
              <ul class="progressbar">
                  <li class="done"> Select </li>
                  <li class="done"> Upload </li>
                  <li> Check </li>
              </ul>
        </div>
    </div>

    {%if list_duplicate_files|length > 0%}
    <div class="row align-items-center">
        <div class="col-8 offset-2 mt-5">
            <p class="text-danger">The following files were detected as duplicates based on their hash sum and cannot be uploaded:</p>
        </div>
        <div class="col-7 offset-3">
            {% for f in list_duplicate_files %}
                <small class="text-danger">{{f}}</small><br>
            {%endfor%}
        </div>
    </div>
    {% endif %}

    <form class="form-inline" id="form_upload_2_xnat" method="post" action="{{url_for('upload.check')}}">

            {% for sub in subjects %}
                <div class="row align-items-center mt-5">
                    <div class="col-6 offset-2">
                        <p class="lead">
                          Subject {{sub}}
                        </p>
                    </div>
                </div>

                {%for f in files_for_subject[sub]%}
                    <div class="row align-items-center">
                        <div class="col-md-auto offset-3">
                            {% set scan = f.name_orig %}
                            Scan {{scan}}
                        </div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name=select_scan_{{f.name_unique}}>
                                {%for t in scan_type_list%}
                                    {%if t == f.scan_type%}
                                        <option selected>{{t}}</option>
                                    {% else %}
                                        <option value={{t}}>{{t}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                {%endfor%}
            {%endfor%}


        <div class="row align-items-center mt-5">
            <div class="col-5 offset-2">
                <button type="submit" name="upload" class="btn btn-danger">Upload</button>
            </div>
             <div class="col-2">
                <button type="submit" name="cancel" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </form>
    <div class="col-6 offset-2 mt-5">
        <div class="progress">
            <div id="progress_upload_2_xnat" class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
            </div>
        </div>
    </div>


</div>

{% endblock %}