{% extends 'layout.html' %}
{% block title %} Upload {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
              <ul class="progressbar">
                  <li class="done"> Select </li>
                  <li class="done"> Upload </li>
                  <li> Check </li>
              </ul>
        </div>
    </div>

    <form class="form-inline" method="post" action="{{url_for("upload.check")}}">

            {% for sub in subjects %}
                <div class="row align-items-center mt-5">
                    <div class="col-6 offset-2">
                        <p class="lead">
                          Subject {{sub}}
                        </p>
                    </div>
                </div>

                {%for f in files_for_subject[sub]%}
                    <div class="row align-items-center">
                        <div class="col-md-auto offset-3">
                            {% set scan = f.name_orig %}
                            Scan {{scan}}
                        </div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name=select_scan_{{f.name_unique}}>
                                <option selected>m2DCartCine</option>
                                <option value="Radial">Radial</option>
                            </select>
                        </div>
                    </div>

                {%endfor%}
            {%endfor%}


        <div class="row align-items-center mt-5">
            <div class="col-5 offset-2">
                <button type="submit" name="upload" class="btn btn-danger">Upload</button>
            </div>
             <div class="col-2">
                <button type="submit" name="cancel" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </form>


</div>

{% endblock %}