{% extends 'layout.html' %}
{% block title %} Check {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
              <ul class="progressbar">
                  <li class="done"> Select </li>
                  <li class="done"> Upload </li>
                  <li class="done"> Check </li>
              </ul>
        </div>
    </div>
</div>
<div class="container">

    <button>Update</button>
    <p>
    </p>


    <script>
    let button = document.querySelector('button');
    window.setInterval(function () {
    ///button.onclick = function ()  {
        $.get('/qc_check_images', function(data) {
            document.querySelector('p').innerHTML = data;
        });
    }, 2000);
    </script>
</div>
{% endblock %}