{% extends 'layout.html' %}
{% block title %} Terms {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 offset-2 mt-5">
            <p class="lead">
              Terms and Conditions
            </p>
             <ul>
                 <li>Open Heart is a repository for raw MR data from cardiac MRI.</li>
                 <li>The aim of Open Heart is to share MR raw data for scientific purposes.</li>
                 <li>All the data uploaded to Open Heart will be made publicly available under Creative Commons Public Domain Dedication (CC0).</li>
                 <li>You are responsible to ensure that all the data you upload is fully anonymised and that you have the right to publish this data under the CC0 licence.</li>
            </ul>
        </div>
  </div>
</div>
{% endblock %}