{% extends 'layout.html' %}
{% block title %} Finished! {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-4 offset-2">
            <img src="/static/logo_front.png" class="img-fluid" alt="Responsive image" width="200">
        </div>
        <div class="col-4 align-top">
            <p class="lead">
              Thank you very much for contributing the following data sets to Open Heart:
            </p>
            <ol>
            {%for i in range(0, nfiles)%}
                <li>{{files[i]}}</li>
            {%endfor%}
            </ol>
        </div>
    </div>
</div>


{% endblock %}