{% extends 'layout.html' %}
{% block title %} Finished! {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-3 offset-1">
            <img src="/static/logo_front.png" class="img-fluid" alt="Responsive image" width="200">
        </div>
        <div class="col-6 align-top">
            <p class="lead">
              Thank you very much for contributing these data sets to Open Heart:
            </p>
            {%for i in range(0, num_subjects)%}
                {% set subject = subjects[i] %}
                <p class="lead">
                  {{subject}}
                </p>
                <ol>
                {%for j in range(0, cuser.get_num_scans(subject))%}
                    {% set scan = cuser.get_scans(subject)[j] %}
                    <li>{{scan}}</li>
                {%endfor%}
                </ol>
            {%endfor%}
        </div>
    </div>
    <div class="row align-items-center mt-5">
         <div class="col-5 offset-4">
             <form method="post" action="/finish">
                <button type="submit" class="btn btn-danger">Finish</button>
             </form>
        </div>
    </div>
</div>


{% endblock %}